
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0211babb;
    color: white;
    
}
.header .logo {
    font-size: 30px;
}

.header .search-bar input {
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    border:3px solid black;
    margin-right: 1090px;
    
    
}

.header .header-icons i {
    font-size: 20px;
    margin:  10px;
    cursor: pointer;
}
.main-container {
    display: flex;
    padding: 20px;
    gap: 20px;
}
.sidebar {
    width: 200px;
    background: white;
    padding-left: 15px;
    border-radius: 5px;
    margin-left: 10px;
    padding-right:40px ;
    
}
.sidebar ul li {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    background: #f0f0f0;
    padding: 5px;
    border-radius: 5px;
   margin-right: 20px;
}
.feed {
    
    background: white;
    padding: 15px;
    border-radius: 5px;
   
}

.post {
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.post-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.post-content img {
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}
.right-sidebar {
    width: 400px;
    background: white;
    padding: 15px;
    border-radius: 20px;
    
}
.right-sidebar h4 {
    margin-bottom: 5px;
}

.right-sidebar img{
    height: 200px;
    width: 400px;
    
}